{% extends 'base.html.twig' %}

{% block title %} Wiki Video Category App{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container-fluid">


        <div class="container">
            <h1>Welcome to Wiki Video Category App</h1>
            <a class="btn btn-primary" href="/youtube_channel/list" role="button">YouTube channels list</a>
            <a class="btn btn-primary" href="/channel_pattern/list" role="button">Channel patterns list</a>

        </div>
    </div>

{% endblock %}
